.button-content{

    display: flex;
    flex-direction: row;
    justify-items: left;
    text-align: center;
    align-items: center;

}

.shortcut-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.button-text{
    padding:10px ;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;

}

button.shortcuts{
    font-weight: bold;
    background-color:white !important;
    border-color:#bae7ff;
    color: #0050b3;
    width: 190px;
    height:80px ;
    border-style: solid;
    border-radius: 20px;
    border-width: 0.5px;
    padding-left: 20px;
}

button.shortcuts:hover{
    font-size: 10.8pt;
    transition: 0.2s;
    padding-top: 5px;
    border-color: #91d5ff;
}


