.container {
	margin-top: 20px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.final-decision {
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	flex-direction: column;
	margin: 20px;
	padding: 30px;
	gap: 20px;
}
#final-decision{
	margin-left: 20px;
}

.loan-info {
	display: flex;
	padding: 30px;
	margin: 20px;
	gap: 5px;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button.btn-apply,
button.btn-final {
	width: 200px;
}

.table-wrap {
	/*overflow-x: scroll;*/
	width: 100%;
}

.table-scroll {
	height: 300px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.main-table {
	border: 1px solid #eaeaeb;
	width: 100%;
	white-space: nowrap;
	background-color: #e6f7ff;
}

th.headcol {
	border: 1px solid #eaeaeb;
	font-weight: normal;
	color: white;
	font-size: 0.9rem;
	width: 35%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	position: sticky;
	background-color: #096dd9;
	z-index: 2;
	text-align: left;
	padding-left: 3pt;
	padding-right: 3pt;
}

td.cell {
	font-size: 00.9rem;
	border: 1px solid #eaeaeb;
	width:250px;
	padding-left: 3pt;
	padding-right: 3pt;

}

/*Verifications*/
.verification{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 7px;
	margin: 20px;

}

h6.step-text{
	font-weight: bold;
	color: #003a8c;
	padding-bottom: 10px;
}

.employment {
	padding: 10px;
	box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
	height: 120px;
	width: 300px;
	text-align: center;
}
.title-run {
	box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;	height: 120px;
	width: 300px;
	padding: 10px;
	text-align: center;
}

.appraisal{
	box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;	height: 120px;
	width: 300px;
	padding: 10px;
	text-align: center;
}

.credit-check {
	box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;	height: 120px;
	width: 300px;
	padding: 10px;
	text-align: center;
}

a.download-link{
	text-decoration: underline;
	color: #0081CF !important;
}

table.main-table.files{
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.loading{
	margin: 20px;
}
button.btn.btn-primary.loading{
	margin: 20px;
}

