// Here you can add other styles
$indigo-dark: rgb(20,3,48);

.Header{
    background: $indigo-dark;
}

.fs-6.fw-semibold.text-primary{
    color: #096dd9;
}

.btn.btn-primary:hover{
   background-color: #096dd9;
   color: white;
}

.btn.btn-ghost-primary{
    border-color: #096dd9;
}
.btn.btn-ghost-primary:hover{
    background-color: #096dd9;
   border-color: #096dd9;
   color: white;;
}

.btn.btn-primary:focus{
    color: white;

}
.card-title{
    color:#096dd9 ;
    border-color: rgb(37,126,222);
}

.header-toggler:hover{
    color: white;
}

.sidebar-nav::-webkit-scrollbar {
    background: transparent;
    width: .5em;
}

.sidebar-nav::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .5em;
    margin-right: 10em;
}

.sidebar-nav::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

.sidebar-nav::-webkit-scrollbar-corner {
    border-radius: 10px;
    background: lightgray;
}